# T1 main topics covered:
- Loops, Input, Printing, Operator Precedence, Escape Sequences, Format Specifiers, Functions, Lists

### for loops in Python

In [7]:
for i in range(0,3): print(i) #i will range from 0 to 3-1=2
for i in range(3): print(i) #default initialization is taken to be 0
for i in range(-1,3): print(i) #you can also initialize i to -1. Range : -1 to 2

### Taking input and printing in Python

In [8]:
x = int(input("Enter a number: ")) #the input will be taken as a string and so needs to be typecast to int
type(x) #to check the type of a variable 
print('%r' %x) #print raw data - this can also help in determining type

Enter a number: 6
6

### Operator precedence in Python

*operators in the same box have same precedence*<br>
*grouping of elements, ie, order in which they are executed are from left to right __in the same list__*<br>
= **lowest precedence**<br>
lambda<br>
if-else<br>
or<br>
and<br>
not x<br>
in, not in, is, is not, <, <=, >, >=, !=, ==<br>
| (Bitwise OR)<br>
^ (Bitwise XOR)<br>
& (Bitwise AND)<br>
<<,>> (Shifts)<br>
+,- <br>
'* ,@,/,//,% (@-matrix multiplication, //-floor division)<br>
+x, -x, ~x (Positive, negative, bitwise NOT)<br>
** (Exponentiation) **highest precedence**

In [32]:
4*5/2 #this will give you 10
#even though * and // are of same precedence - * comes before / in the group 
3>4==4 #this gives you false 
#even though > and == are of same precedence - > comes before == in the group and is evaluated first 
5==5>4 #this gives you true

### Escape sequences
\\:	Backslash (\)<br>
\\\':	Single quote (')<br>
\\\":	Double quote (")<br>
\a:	ASCII Bell (BEL)<br>
\b:	ASCII Backspace (BS)<br>
\f:	ASCII Formfeed (FF)<br>
\n:	ASCII Linefeed (LF)<br>
\r:	ASCII Carriage Return (CR)<br>
\t:	ASCII Horizontal Tab (TAB)<br>
\v:	ASCII Vertical Tab (VT)<br>
\ooo:	ASCII character with octal value ooo<br>
\xhh...	ASCII character with hex value hh...<br>

### Printing using format specifiers
%r, %d, %f, %x, %o

In [84]:
print("%r" %'42') #raw data
print("%d" %42) #decimal numbers 
print("%d" %42.9)
print("%f" %42.35) #floating point numbers

print("%x" %42) #printing hex number
print(hex(42)) #printing hex number in 0x form 

print("%o" %42) #printing octal number 
print(oct(42)) #%o to print octal numbers in 0o form

'42'
42
42
42.350000
2a
0x2a
52
0o52

### Functions in Python

In [89]:
def func_name(var_name): #notice there is no type specified for argument
    return var_name*2 #you can also have no return statement

def div(num1, num2):
    return (num1//num2, num1%num2) #you can also return multiple values using tuples

(2, 1)

### Lists in Python
Can be initialized in 4 ways

In [12]:
l1 = []
l2 = [0,1,2,3,4,5]
l3 = [x for x in range(6)]
l4 = list(x for x in range(6)) #you need to pass an iterable to list() - 0,1,2,3,4,5 won't work
#list((1,2,3,4)) will work = [1,2,3,4]

Adding elements to a list

In [13]:
l2.append(6)
l3.insert(3,2) #in
l3

[0, 1, 2, 2, 3, 4, 5]